.grid__info {
    grid-area: info;
    display: grid;
    align-content: end;
    grid-template-columns: 1fr 1fr;
    padding-bottom: calc(var(--step--2) * 1.75);
    gap: 1rem 0rem;
    width: 100%;
    margin-top: 2rem;
  }
  .grid__info > span {
    font-size: var(--step--1);
    font-weight: 600;
  }
  .grid__info > span > span{
    font-weight: 400;
  }
  /* >   >   >   >   >   > */

  @media (min-width: 600px) {
    .grid__info {
      grid-template-columns: fit-content(320px) 1fr;
      gap: 1rem 2rem;
    }
  }
  
  @media (min-width: 1200px) {
        .grid__info{
          margin: 0;
          grid-template-columns: 1fr;
        }
        
  }